p {
    font-size: 30px;
}
#flip-card {
  background-color: transparent;
  width: 600px;
  height: 300px;
  margin: 20px;
  perspective:1000px;
}

#flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}

#flip-card:focus #flip-card-inner, #flip-card:hover #flip-card-inner {
  transform: rotateY(180deg);
}

#flip-card-front, #flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  flex-wrap: wrap;
  line-height: 2em;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#flip-card-front {
  background-color: #fff;
  color: black;
}

#flip-card-back {
  background-color: #3E69A3;
  color: white;
  transform: rotateY(180deg);
}
@media only screen and (max-width: 768px){
    #flip-card{
      width: 100%;
      height:150px;
      margin: 20px 0;
    }
    p {
        font-size: 20px;
    }
}